extends /layouts/standardNavbar.pug
block variables
	- var title = 'Shopping List'
block append content

	/////////////////////////////////////////////////////////////////////////////

	-if(messages.success)
		.alert.alert-success(role='alert')
			strong #{messages.success}
	-else if(messages.error)
		.alert.alert-danger(role='alert')
			strong #{messages.error}
		
	/////////////////////////////////////////////////////////////////////////////

	form(action="shopping/api/addItem", method="post") 
		.input-group.mb-3
			input.form-control(type='text' name='item_name' placeholder="Add any item" aria-describedby='basic-addon2')
			.input-group-append
				button.btn.btn-primary.btn-block(type='submit') Inserisci
	
	if shopping_list_new
		- var color
		each item in shopping_list_new.items
			- color = 'badge-'+item.user._color.name
			ul.list-group
				li.list-group-item.list-group-item-primary #{item.name}
					span.badge.float-right(class=color) #{item.user.username}
		br
		button.btn.btn-primary.btn-block(type="button" data-toggle="collapse" data-target="#completeList" aria-expanded="false" aria-controls="completeList")
			|	Mark the list as complete
		br
	
		div#completeList.collapse
			form(action="shopping/api/terminateList", method="post") 
				.input-group.mb-3
					input.form-control(type='number' name='list_cost' placeholder="Enter the final cost" aria-describedby='basic-addon2')
					.input-group-append
						button.btn.btn-primary(type='submit') Complete the list
	
	h1.display-4 History 

	div.container
		.row
			each shopping_list in shopping_lists_old
				if shopping_list.total > 0
					div.col-sm.text-center
						br
						button.btn.dropdown-toggle.btn-primary(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
							| #{moment(shopping_list.date_closure).format('DD/MM/YYYY')}
						.dropdown-menu(x-placement='bottom-start' style='position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);')
							each item in shopping_list.items
								.dropdown-item #{item.name}
							.dropdown-divider
							- var _id = shopping_list._id;
							form(action="shopping/showList" method='post')
								input(type="hidden", name="_id", value=_id)
								button.dropdown-item(type="submit") Show List

block append scripts
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
