extends /layouts/standardNavbar.pug
block variables
	- var title = 'Shopping List'
block append content

	/////////////////////////////////////////////////////////////////////////////

	-if(messages.success)
		.alert.alert-success(role='alert')
			strong #{messages.success}
	-else if(messages.error)
		.alert.alert-danger(role='alert')
			strong #{messages.error}
		
	/////////////////////////////////////////////////////////////////////////////
	span.badge.badge-primary Tave 
	span.badge.badge-success Bru
	span.badge.badge-danger Zini
	br
	br

	each item in shopping_lists[shopping_lists.length-1].items
		ul.list-group
			li.list-group-item.list-group-item-primary #{item.name}
	br
	form(action="shopping/api/addItem", method="post") 
		.input-group.mb-3
			input.form-control(type='text' name='item_name' placeholder="Add any item" aria-label="Recipient's username" aria-describedby='basic-addon2')
			.input-group-append
				button.btn.btn-primary.btn-block(type='submit') Inserisci
	br
	br
	br
	h1.display-4 History 


	div.container
		.row
			each shopping_list in shopping_lists.slice(1)
				div.col-sm.text-center
					br
					button.btn.dropdown-toggle.btn-primary(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
						| #{moment(shopping_list.date_closure).format('DD/MM/YYYY')}
					.dropdown-menu(x-placement='bottom-start' style='position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);')
						each item in shopping_list.items
							.dropdown-item #{item.name}
						.dropdown-divider
						- var _id = shopping_list._id;
						a.dropdown-item(href='shopping/showList/'+_id) Show List

block append scripts
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
